:root {
   --branco-principal: #FFFFFF; 
   --cinza-secundário:  #c0c0c0;
   --botao-azul: #167BF7;
   --cor-de-fundo: #00030C;
}  

body {
   background-color: var(--cor-de-fundo);
   color: var(--branco-principal);
}

*{
 margin: 0;
 padding: 0;
}

.principal {
   background-image: url("img/b644fff1-d03a-4dd6-8727-b4b5762f5932-cover.png");
   background-repeat: no-repeat;
   background-size: contain;
   align-items: center;
}

.container {
    height: 100vh;   
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao__secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container__imagem {
  margin: 1em 0 2em 0;
}
.container__caixa {
   margin: 0 6em;

}

.secundario__imagem {
   width: 80%;
}

.secundario {
   align-items: center;
   margin: 0 10em ;
}

.descricao__titulo {
   font-weight: 700;
   font-size: 48px;
   color: var(--branco-principal);
   margin-bottom: 0.5em;
}

.descricao__texto {
   color: var(--cinza-secundário);
}

.secundario__botao {
   display: inline-block;
   margin-top: 1em;
}

.container__descricao {
   padding: 2em ;
}